@import 'antd/dist/antd.css';
.site-layout .site-layout-background {
    background: #fff;
}
.ant-input-affix-wrapper {
    border-radius: 6px;
}
.ant-input {
    border-radius: 6px;
}
.ant-select-selector {
    border-radius: 6px !important;
}
